@charset "utf-8";
*{
	font-family: Arial, Helvetica, sans-serif, "宋体";
	font-size: 12px;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	list-style-type: none;
}
a  {
	font-family: "宋体";
	font-size: 12px;
	text-decoration: none;
}
html, body, h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
}
ul
{
	list-style-type: none;
	padding-left: 0px;
}
li {
	list-style-type: none;
	float: left;
	font-family: "宋体";
	font-size: 12px;
	padding-left: 0px;
}
#userinfo li {
	list-style-type: none;
	float: left;
	font-family: "宋体";
	font-size: 12px;
	margin-right: 0px;
	color: #CCFF00;
}
#top {
	position: relative;
	width: 100%;
	background-image: url(../images/images3/images/topbg.gif);
	background-repeat: repeat-x;
	background-position: left top;
	float: left;
	overflow: visible;
	z-index: 1;
	padding: 0px;
}
#top #guangao {
	position: relative;
	width: 100%;
	height: 85px;
	background-image: url(../images/images3/images/topgg.gif);
	background-repeat: no-repeat;
	background-position: left top;
	overflow: visible;
	z-index: 1;
	float: left;
	clear: both;
}
#toolbar #user {
	width: 24px;
	margin-left: 8px;
	clear: none;
	float: left;
	margin-top: 2px;
	height: 25px;
	background-image: url(../images/images3/images/user-ico.gif);
	background-repeat: no-repeat;
	overflow: visible;
	visibility: visible;
	position: relative;
}
#userinfo {
	margin-left: 8px;
	float: left;
	height: 30px;
	line-height: 30px;
	font-family: "宋体";
	color: #FFFFFF;
	width: 160px;
	overflow: visible;
	clear: none;
	position: relative;
}
#userinfo2 {
	float: left;
	font-family: "宋体";
	color: #FFFFFF;
	width: 210px;
	padding-top: 5px;
	position: relative;
	overflow: visible;
	z-index: 1;
}
.close a:link{
	background-image: url(../images/images3/images/nystyle3.gif);
	background-repeat: no-repeat;
	display: block;
	text-align: center;
	float: left;
	line-height: 21px;
	margin-left: 5px;
}
.close a:hover{
	background-image: url(../images/images3/images/nystyle3-2.gif);
	background-repeat: no-repeat;
	display: block;
	height: 21px;
	width: 65px;
	text-align: center;
	float: left;
	line-height: 21px;
	margin-left: 5px;
}
.close a:visited{
	background-image: url(../images/images3/images/nystyle3.gif);
	background-repeat: no-repeat;
	display: block;
	height: 21px;
	width: 65px;
	text-align: center;
	float: left;
	line-height: 21px;
	margin-left: 5px;
}
#userinfo2 a:hover{
	background-image: url(../images/images3/images/nystyle3-2.gif);
	background-repeat: no-repeat;
}
#userinfo2 a:active{
	background-image: url(../images/images3/images/nystyle3-2.gif);
	background-repeat: no-repeat;

}
#userinfo2 a{
	font-family: "宋体";
	font-size: 12px;
	color: #FFFFFF;
	display: block;
	height: 21px;
	width: 65px;
	text-align: center;
	float: left;
	line-height: 21px;
	clear: none;
	overflow: visible;
}
#toolbar {
	position: relative;
	width: 100%;
	height: 30px;
	background-image: url(../images/images3/images/toolbar-bg.gif);
	background-repeat: repeat-x;
	background-position: left top;
	overflow: visible;
	z-index: 1;
	float: left;
	clear: both;
}
#bar {
	position: relative;
	width: 950px;
	height: 30px;
	overflow: visible;
	z-index: 1;
	float: left;
	clear: both;
}
#line {
	position: relative;
	width: 100%;
	height: 7px;
	background-image: url(../images/images3/images/bar-x.gif);
	background-repeat: repeat-x;
	background-position: left top;
	overflow: hidden;
	z-index: 1;
	float: left;
	clear: both;
}
#tztext{
	float: right;
	font-family: "宋体";
	color: #FFFFFF;
	width: 510px;
	position: relative;
	background-image: url(../images/images3/images/tztext-bg.gif);
	background-repeat: repeat-x;
	background-position: bottom;
	overflow: visible;
}
#acr-l{
	float: left;
	position: relative;
	overflow: hidden;
	z-index: 1;
	width: 21px;
	height: 22px;
	padding-top: 5px;
}
#acr-l a{
	float: left;
	position: relative;
	width: 21px;
	display: block;
	height: 22px;
	line-height: 70px;
	background-image: url(../images/images3/images/tzacr-l1.gif);
	background-repeat: no-repeat;
}
#acr-l a:hover{
	background-image: url(../images/images3/images/tzacr-l2.gif);
	background-repeat: no-repeat;
}
#acr-2{
	float: right;
	position: relative;
	overflow: hidden;
	z-index: 1;
	width: 21px;
	height: 22px;
	padding-top: 5px;
}
#acr-2 a{
	float: left;
	position: relative;
	width: 21px;
	display: block;
	height: 22px;
	line-height: 70px;
	background-image: url(../images/images3/images/tzacr-r1.gif);
	background-repeat: no-repeat;
}
#acr-2 a:hover{
	background-image: url(../images/images3/images/tzacr-r2.gif);
	background-repeat: no-repeat;
}
.tonzhi{
	float: left;
	text-align: center;
	padding-top: 4px;
	line-height: 24px;
	margin-left: 2px;
	color: #CCFF33;
	margin-right: 2px;
	width: 40px;
	font-family: "宋体";
	font-size: 12px;
	letter-spacing: 1px;
}
#text{
	overflow: hidden;
	z-index: 1;
	width: 465px;
	height: 27px;
	float: left;
}/*
#text li a{
	padding-top: 4px;
	color: #FFFFFF;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 0px;
	padding-left: 5px;
	line-height: 24px;
	height: 24px;
	display: block;
	padding-right: 0px;
	margin-left: 10px;
}

#text li a:hover{
	float: left;
	background-image: url(../images/images3/images/tztext-ny-1.gif);
	background-position: left 0px;
	padding-top: 0px;
	color: #FFFF00;
	padding-left: 10px;
	margin-top: 3px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 10px;
	line-height: 24px;
	height: 24px;
	cursor: hand;
}
#text li a span{
	float: left;
	background-repeat: no-repeat;
	line-height: 24px;
	height: 24px;
}
#text li a:hover span{
	background-image: url(../images/images3/images/tztext-ny-1.gif);
	background-position: right -1px;
	padding-right: 10px;
	background-repeat: no-repeat;
	margin-top: 1px;
	margin-right: 0px;
	display: block;
	line-height: 24px;
	height: 24px;
}*/

#text li a{
	float: left;
	width: 100px;
	display: block;
	text-align: center;
	padding-top: 4px;
	line-height: 24px;
	margin: 0px;
	padding-right: 0px;
	color: #FFFFFF;
}

#text li a:hover{
	float: left;
	background-image: url(../images/images3/images/tztext-ny.gif);
	background-repeat: repeat-x;
	background-position: 0px 3px;
	padding-top: 4px;
	width: 100px;
	display: block;
	text-align: center;
	color: #FFFF00;
		margin: 0px;
	padding-right: 0px;
}


/*以上主要是顶部样式*/
#info {
	position:relative;
	height:25px;
	z-index:1;
	float: right;
	overflow: visible;
	top: 30px;
	width: 200px;
}
#info ul{
	list-style-type: none;
	padding: 0px;
}
#info li {
	list-style-type: none;
	clear: both;
	float: left;
	padding: 0px;
	font-family: "宋体";
	font-size: 12px;
	text-align: left;
	color: #a7a7a7;
}
#info li.lift{
	list-style-type: none;
	clear: none;
	float: left;
	height: 20px;
	padding-top: 6px;
}
#info li.color{
	list-style-type: none;
	clear: none;
	float: left;
	padding-top: 7px;
	padding-left: 8px;
	cursor: hand;
}
