@charset "utf-8";
/* CSS Document */
/* css 初始化 */
/* 1.清除浏览器默认样式 */ 
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input{margin:0;padding:0;}
/* 2.针对性处理 */
*{padding: 0;margin: 0;}
ol,ul{ list-style:none;}
textarea{ resize:none;}
img{ border:none; display:block;/*img底部空白*/}
input,area{ outline:none;border:0 none;}        /* 谷歌浏览器表单元素外框 */
em,i{font-style:normal;}
/* 3.设置全局样式 */
body{ color:#717d98; font-size:14px; font-family:"微软雅黑";}
a{color:#666; text-decoration:none;}
a:hover{ text-decoration:none;color:#cd0606;}
/*定义常用类*/
.clearfix:after,.clearfix:before{content:"";display:table;}
.clearfix:after{clear:both;}
.clearfix{*zoom:1;}
.wrap{width:1200px;margin:0 auto;}
.fl{float:left;}
.fr{float:right;}
html,body{width: 100%;height: 100%;overflow: hidden;background: #f8f9fe;}

/*字体库的定义*/
@font-face {font-family: "iconfont";
src: url('../font/iconfont.eot'); /* IE9*/
src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
url('../font/iconfont.woff') format('woff'), /* chrome、firefox */
url('../font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
url('../font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont:before,.iconfont:after {
font-family:"iconfont" !important;
font-style:normal;
-webkit-font-smoothing: antialiased;
-webkit-text-stroke-width: 0.2px;
-moz-osx-font-smoothing: grayscale;
}

/*菜单字体的使用*/
.message_center:before{content: "\e60c";}
.user_login:before{content: "\e60d";}
.switch_dor:before{content: "\e60f";}
.switch_dor_off:before{content: "\e60e";}
.icon_menu01:before{content: "\e602";}
.icon_menu02:before { content: "\e604"; }
.icon_menu03:before { content: "\e605"; }
.icon_menu04:before { content: "\e603"; }
.icon_menu05:before { content: "\e601"; }
.icon_menu06:before { content: "\e606"; }
.icon_menu07:before { content: "\e609"; }
.icon_menu08:before { content: "\e608"; }
.icon_menu09:before { content: "\e60b"; }
.icon_menu10:before { content: "\e60a"; }
.icon_menu11:before { content: "\e600"; }
.icon_menu12:before { content: "\e60a"; }
/*公共的头部尾部开始==========*/
header,footer{height: 70px;width: 100%;color: #fff;background: #2c364f;}
header{padding: 15px;box-sizing: border-box;}
h1{display: inline-block;}
.product_name{display: inline-block;padding: 0 20px;border-left: 2px solid #fff;height: 24px;line-height: 24px;vertical-align: top;margin-left: 20px;margin-top: 5px;font-size: 16px;}
.user_box{float: right;height: 40px;padding-top: 5px;box-sizing: border-box;}
.user_login{display: inline-block;font-size: 14px;margin-right: 20px;}
.message_center{display: inline-block;cursor: pointer;}
.message_center:before{width: 24px;height: 28px;color: #e5ecfc;display: inline-block;font-size: 18px;}

.user_login:before{display: inline-block;font-size: 18px;vertical-align: middle;color: #1eb6ff;}
.exit{cursor: pointer;}
/*底部===========*/
footer{height: 30px;color: #717D98;font-size: 14px;position: absolute;bottom: 0px;width: 100%;background: #2C364F;line-height: 30px;text-align: center;}
footer .ft_txt{padding-left: 130px;}
footer span{padding-left: 30px;}
/*公共的头部尾部结束=======*/
.main_contain{position: absolute;width: 100%;bottom: 0px;top: 70px;}
.main_contain:after {content: "";display: table;clear: both;}
/*左侧菜单=========*/
.main_contain_left{float: left;margin-top: 0px;position: relative;height: 100%; z-index: 20;background: #FF0707;overflow: hidden;width: 130px;}
/*整个右边核心模块的最大盒子，注意这个类很重要，滚动条与之也有关*/
.wrap_main{width: 100%;height: 100%;overflow-y: scroll;overflow-x: hidden;}
/*右侧核心========*/
.main_contain_right{
height: 100%;
margin: 0 auto;
overflow: hidden;
background-color: #fff;
border-radius: 3px;
background: #fff;
}
/*iframe窗口==========*/
#body-right{
width: 100%;
box-sizing: border-box;
}

/*一级菜单开始==========*/
.commonMenu_first{width: 148px;height: 100%;background: #2c364f;display: inline-block; overflow-y: auto;overflow-x: hidden;box-sizing: border-box;}
/*折叠区开始=========*/
.top_open{overflow: hidden;height: 30px;background: #727d99;color: #fff;box-sizing: border-box;padding-left: 53px;color: #2C364F;cursor: pointer;}
.switch_dor:before{width: 20px;height: 20px;display: inline-block;vertical-align: middle;margin-top: 8px;}
.switch_dor_off:before{width: 20px;height: 20px;display: inline-block;vertical-align: middle;margin-top: 8px;}

.commonMenu_list{color: #98a4bd;}
li.commonMenu_li_first p{cursor: pointer;}
li.commonMenu_li_first i:before{width: 20px;height: 20px;display: inline-block;padding-right: 4px;}
li.commonMenu_li_first ul{display: none;}
li.commonMenu_li_first li{padding-left: 38px;box-sizing: border-box;}
li.commonMenu_li_first p{width: 100%;height: 40px;line-height: 40px;background: #2c364f;box-sizing: border-box;padding-left: 15px;box-sizing: border-box;font-size: 16px;}
li.commonMenu_li_first p:hover{background: #4a5370;color: #fff;}
li.commonMenu_li_first li{cursor: pointer;font-size: 12px;}
.commonMenu_on{background: #1db7ff;color: #fff;}
li.commonMenu_li_first li{height: 40px;line-height: 40px;}


/*面包屑开始==============*/
.crumb{width:100%;height:30px;line-height:30px;background:#e5ecfc;padding-left: 20px;box-sizing: border-box;}
.crumb i{padding: 0 5px;}
/*面包屑结束==============*/


/*控件库开始========*/
/*清除select的默认样式，添加自己的三角图标*/
select{
appearance:none;
-moz-appearance:none;
-webkit-appearance:none;
padding-right: 14px;
background: url(../img/dot_down.png) no-repeat  right center transparent;
background-color:transparent;
font-family:"微软雅黑";

}
select::-ms-expand { display: none; }
/*定义三属性*/
/*查找模块serach_box*/
.serach_box{margin-bottom: 30px;}
.serach_in select{width:148px;height:34px;line-height:34px;border: solid 1px #d9e0f2;cursor: pointer;border-radius: 3px;color: #717d98;font-family: "微软雅黑";background-color: #fff;padding-left: 4px;box-sizing: border-box;font-size: 14px;}
.serach_in{margin-right: 20px;display: inline-block;font-size: 14px;font-family: "微软雅黑";}
.serach_in span.find_title{height: 34px;line-height: 34px;display: inline-block;padding-right: 10px;font-family: "微软雅黑";}
.serach_in input.chose_time{width:148px;height:34px;line-height:34px;border: solid 1px #d9e0f2;padding-left:4px;box-sizing: border-box;cursor: pointer;font-size: 14px;font-family: "微软雅黑";}
.common_select_style,.common_input_style{display: inline-block;}
/*搜索框加放大镜*/
.soso_content{width: 300px;}
.table_search{width:250px;height:34px;line-height:34px;border: solid 1px #d9e0f2;cursor: pointer;border-radius:3px;color: #717d98;font-family: "微软雅黑";background-color: #fff;padding-left: 4px;box-sizing: border-box;font-size: 14px;}

/*普通输入框*/
.common_input{
	width:150px;height:34px;line-height:34px;border: solid 1px #d9e0f2;cursor: pointer;border-radius:3px;color: #717d98;font-family: "微软雅黑";background-color: #fff;padding-left: 4px;box-sizing: border-box;font-size: 14px;
}
/*小号输入框*/
.min_input{
	width:40px;height:34px;line-height:34px;border: solid 1px #d9e0f2;cursor: pointer;border-radius:3px;color: #717d98;font-family: "微软雅黑";background-color: #fff;padding-left: 4px;box-sizing: border-box;font-size: 14px;margin: 0 5px;
}

/*按钮*/
.common_btn{padding: 0 15px;height:32px;line-height:32px;background: #1db7ff;text-align: center;cursor: pointer;border-radius: 3px;color: #fff;font-size: 12px;display: inline-block;vertical-align: top;}
.common_btn:hover{background: #30a8f2;}

/*时间控件*/
.time_dot{padding: 0 10px;}
body .chose_time{width: 130px;height: 34px;line-height: 34px;border: 1px solid #d9e0f2;background: url(../img/data.png) no-repeat right center #fff;color:#717d98;vertical-align: top;}

/*表格样式*/
/*公共的样式---table*/
/*表格顶部按钮*/
.commonTable_content{border: 1px solid #d9e1ee;margin-left:-1px;}
.table_btn_box{height: 60px;/*border: 1px solid #d9e1ee;border-bottom: 0 none;*/padding: 13px 0 0 20px;box-sizing: border-box;background: #fff;}
.table_btn{padding: 0 15px;border: 1px solid #1eb6ff;height: 30px;line-height: 30px;color: #1eb6ff;display: inline-block;border-radius: 3px;margin-right: 10px;cursor: pointer;}

/*搜索按钮*/
.table_btn:hover{background: #1eb6ff;color: #fff;}
table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        text-align: left;
        overflow: hidden;
        border: 1px solid #d9e1ee;
        border-left:0 none;
        border-right:0 none;
        border-bottom:0 none;
        text-align: center;
        font-size: 12px;
        background: #fff;
       
    }
tr>td{
        padding: 8px 8px 8px 20px;     
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
        max-width: 80px;
        border: 1px solid #d9e1ee;
        border-left:0 none;
       /* border-right:0 none;*/
        border-bottom:0 none;
        text-align: left;
}
tr>th{
        padding: 8px 8px 8px 20px;
        border: 1px solid #d9e1ee;
        border-left:0 none;
       /* border-right:0 none;*/
        border-bottom:0 none;
        text-align: left;

}
tr th:nth-last-of-type(1){border-right:0 none;}
tr td:nth-last-of-type(1){border-right:0 none;}


td, th {
        font-weight: normal;
       display: table-cell;
       vertical-align: inherit;
}

td:nth-last-of-type(1){color: #5e96eb;cursor: pointer;}
thead{background: #e5ecfc;}
body th i{display: inline-block;width: 10px;height: 10px;background: url(../img/dot_up.png) no-repeat center center;cursor: pointer;padding-left: 4px;}
body th:nth-last-of-type(1) i{background:#E5ECFC;}
i.down{display: inline-block;width: 10px;height: 10px;background: url(../img/dot_down.png) no-repeat center center;cursor: pointer;padding-left: 4px;}
td i{width: 30px;height: 30px;background: url(../images/see.png) no-repeat center center;
    display: inline-block;
    background-size: 100% auto;}
tbody:nth-of-type(2n){background-color: #f8f9fe;}
tbody td em{color: #1db7ff;padding-right:5px;}



/*分页*/
.commonPage{margin-top: 40px;float: right;}
.commonPage span{display: inline-block;}
.page_content_box{display: inline-block;margin-left: 20px;}
ul.page_btn{overflow: hidden;display: inline-block;vertical-align: top;}
.commonPage span,.commonPage li,.ipt_page{cursor: pointer;border-radius: 3px;height: 23px;line-height: 23px;text-align: center;}
.page_btn li{display: inline-block;float: left;padding:0 6px;color: #717d98;background: #fff;border: 1px solid #d8e1f2;margin-right: 10px;}
.commonPage .control_page{padding: 0 10px;border: 1px solid #d8e1f2;}
.commonPage .page_go{background: #1db7ff;padding: 0 5px;color: #fff;margin-left: 10px;}
input.ipt_page{border: 1px solid #d8e1f2;width: 23px;color: #717d98;margin: 0 4px;}

select.page_chose{width:48px;height:23px;line-height:23px;border: solid 1px #d9e0f2;cursor: pointer;border-radius: 3px;color: #717d98;font-family: "微软雅黑";background-color: #fff;padding-left: 4px;box-sizing: border-box;font-size: 14px;}
.page_btn .now_page{background:#727d99;color: #fff;}
















