.message_box {
	width: 100%;
	box-sizing: border-box;
	padding: 20px;
	margin-top: 20px;
	border: solid 1px #d9e0f2;
	border-radius: 3px;
	color: #717d98;
	font-family: "微软雅黑";
	background-color: #fff;
	font-size: 14px;
}

.message_box_title {
	color: #1db7ff;
	border-bottom: 1px solid #d9e0f2;
	padding-bottom: 3px;
	position: relative;
}

.message_box_title span {
	height: 34px;
	padding-right: 5px;
	padding-bottom: 3px;
	border-bottom: 2px solid #1db7ff;
}

.message_box_title>div {
	position: absolute;
	right: 0;
	top: -13px;
}

.message_box_content {
	box-sizing: border-box;
	padding: 20px;
	line-height: 35px;
	overflow: hidden;
}