<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jlit.xms.mapper.MenuMapper" >
  <resultMap id="menuBaseResultMap" type="com.jlit.xms.model.Menu" >
    <id column="ID" property="id" />
    <result column="ENNAME" property="enname"  />
    <result column="CNNAME" property="cnname"  />
    <result column="PARENTID" property="parentid"  />
    <result column="MAINURL" property="mainurl" />
    <result column="PARENTMENU" property="parentmenu" />
    <result column="MEMO" property="memo" />
    <result column="OWNER" property="owner" />
    <result column="DESCRIPTION" property="description" />
  </resultMap>
  <select id="selectPageList" parameterType="pageData"	resultMap="menuBaseResultMap">
		select * from menu
		<where>
			<if test="paramModel.cnname!=null and paramModel.cnname!=''"> and cnname like CONCAT('%',#{paramModel.cnname},'%') </if>
			<if test="keyWord.queryBean.parentId!=null and keyWord.queryBean.parentId!=''"> and parentid like #{keyWord.queryBean.parentId} </if>
		</where>
		limit #{start},#{pageSize}
	</select>
	<select id="selectRecords" parameterType="pageData" resultType="integer">
		select count(1) from menu
		<where>
			<if test="paramModel.cnname!=null and paramModel.cnname!=''"> and cnname like CONCAT('%',#{paramModel.cnname},'%') </if>
			<if test="keyWord.queryBean.parentId!=null and keyWord.queryBean.parentId!=''"> and parentid like #{keyWord.queryBean.parentId} </if>
		</where>
	</select>
	<select id="getById" parameterType="string" resultMap="menuBaseResultMap">
		select * from menu where id=#{id}
	</select>
	
</mapper>